/* Add this CSS in your stylesheet */
.social-icon {
    color: #FFFFFF; /* Change icon color to white */
    margin-right: 10px;
    font-size: 20px;
  }
  
  .loc {
    color: #FFFFFF; /* Change location text color to white */
  }
  